main, header{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.movies{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button_movie{
    text-align: center;
    margin: 25px 50px 25px 50px;
}

.div-header{
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 25px;
}

.div-header img{
    height: 50px;
    width: 50px;
}
