main, header{
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movies{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
